<p>
  <%= render 'badges/badge', badge: badge %>

  <%= link_to 'Show', admin_badge_path(badge) %>
  <%= link_to 'Edit',
                  edit_admin_badge_path(badge),
                  data: { badge_id: badge.id} %>
  <%= link_to 'Delete',
              admin_badge_path(badge),
              method: :delete,
              data: { confirm: "Are you sure?"} %>
</p>
