<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if user_signed_in? %>
    <%= render 'shared/signed_in_user_nav' %>
  <% else %>
    <%= render 'shared/get_started_nav' %>
  <% end %>
</nav>
