@import "bootstrap";
@import "typography/icons";
@import "global";

.custom {
    width: 300px !important;
}

.progress-bar-container {
  position: relative;
  width:100%;
  height:17px;
  border:1px
  solid black;
}

.progress-bar {
  position: absolute;
  height: 15px;
  background-color: #9899FF;
}
