<p><%= I18n.t('mailer.email_changed.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= I18n.t('mailer.email_changed.message', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= I18n.t('mailer.email_changed.subject', email: @resource.email) %></p>
<% end %>
