<table border="1" cellpadding="20" cellspacing="0">
<tr>
<td>Title:</td>
<td colspan="3"> <%= @test.title %> </td>
</tr>
<tr>
<td>Level:</td>
<td colspan="3"> <%= @test.level %> </td>
</tr>
<tr>
<td rowspan="0">Questions:</td>
<td>
    <ul>
      <% @test.questions.each do |question| %>
        <li><%= link_to "#{question.body}", test_question_path(@test, question) %></li>
      <% end %>
    </ul>
</td>
</tr>

</table>
